body,
html {
    height: 100%;
}

.sign-container {
    background-color: rgb(20, 20, 20);
    height: 100%;
}

.sign-form-2 {
    margin: 8%;
    padding: 5%;
    background: rgb(60, 60, 60);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid black;
    border-radius: 20px;
}

.sign-form-2 {
    font-weight: 600;
}

.sign-form-2 h3 {
    text-align: center;
    color: #ffffff;
}

.sign-container form {
    padding: 10%;
}

.btnSubmit {
    width: 30%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.sign-form-2 .btnSubmit {
    font-weight: 600;
    color: #000000;
    background-color: #fff;
}

.sign-form-2 .btnSubmit:hover {
    background-color: #ffb9f7;
}

.sign-form-2 a {
    color: rgb(255, 255, 255);
}

.sign-form-2 a:hover {
    color: rgb(142, 255, 255);
}