body,
html {
    background-image: url('/images/back-ground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.sign-container {
    height: 100%;
}

.sign-container form {
    padding: 10%;
}

.sign-form-2 {
    margin: 8%;
    padding: 5%;
    background: rgb(80, 80, 80, 0.8);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid rgb(255, 150, 255);
    border-radius: 20px;
}

.sign-form-2 {
    font-weight: 600;
}

.sign-form-2 h3 {
    text-align: center;
    color: #ffffff;
}

.sign-form-2 .btnSubmit {
    font-weight: 600;
    color: #222222;
    background-color: #fff;
}

.sign-form-2 .btnSubmit:hover {
    background-color: rgb(255, 180, 255);
}

.sign-form-2 input {
    border: 2px solid rgb(255, 150, 255);
}

.sign-form-2 a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.sign-form-2 a:hover {
    color: rgb(255, 180, 255);
}

.btnSubmit {
    width: 30%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}